/* font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Josefin Sans', sans-serif; */

/*** BASE STYLES ***/

body {
    margin: 0 auto;
    color: #272838;
    font-family: 'Josefin Slab', serif;
}

header, #about, #work, #contact {
    height: 55vh;
    padding: 50px 50px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 33%;
    float: left;
}

h3 {
    text-align: center;
    font-size: 25px;
}

/*** HEADER ***/
header {

}

#kristi {
    color: #E90185;
    font-family: 'Abril Fatface', cursive;
}
#delfino {
    color: #FFBB0E;
    font-family: 'Abril Fatface', cursive;
}

nav {

}



/*** WORK ***/

#work {
    background-color: #FFBB0E;
    color: #fff;
}

/*** ABOUT ***/


/*** CONTACT ***/

#contact {
    background-color: #E90185;
    color: #fff;
}

/*** FOOTER ***/
footer {
    text-align: center;
}